/* asterisks set rules for everything, nice to put it at top of document*/
* {font-family: Georgia, serif;}

h1 {text-transform: uppercase;}

/*sets maximum space for image and caption*/
figure {max-width:600px}

img{
	max-width: 100%;
}

figcaption {color: grey;}

ol li {margin-bottom: 15px}

h6 {color: grey;}

.dem {color: blue;}

.rep {color:red;}
